body {
     background-color: black;
     height: 800px;

}
#overall {
  margin: 0 auto;
  text-align: center;
  margin-left: -35px;
}
section {
   border-bottom: 1px dashed black;
   padding: 10px;
}

#playagain {
  position: absolute;
  margin-left: 1070px;
  margin-top: 450px;
}
#playagain > button {
  float: right;
  height: 70px;
  width: 300px;
   font-size: 50px;
   font-weight: bold;
   color: white;
   background-color: red;
}


#player2board > div {
   margin-left: 50px;
}

.circlesscore > img{
  float: left;
  margin-top: 5px;
  width: 70px;
}
.xscore {
  margin-left: 50px;
}

.xscore > img{
  float:left;
  margin-top: 15px;
  width: 50px;
  padding-right: 12px;
}

/*main
gameboard
centertable
circlewinsright*/

#gameboard {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

#centertable {
  width: 600px;
  display: inline-block;
}


.main {
  width: 1200px;
  margin: 0 auto;
   height: 100%;
   display: inline-block;
}

#winsleft {
  display: inline-block;
  width: 300px;
  height: 600px;
  float: left;


}

.player {
  margin-top: 150px;
  font-size: 50px;
  color: white;
}

#winsright {
  display: inline-block;
  width: 300px;
  height: 600px;

  float: right;

}

.red-text {
   color: red;
}

.red-bg {
   background: red;
   color: white;
}

.blue-bg {
   background: blue;
   color: white;
}

.green-bg {
   background: green;
   color: white;
}

ul {
   list-style-type: none;
}

li {
   margin: 15px;
}

.contact-info {
   margin: 0;
}

#winnerletters {
  z-index: 2;
  position: absolute;
  font-family: helvetica-neue;
  color: white;
  font-size: 200px;
  margin-top: 200px;
  -ms-transform: rotate(-17deg); /* IE 9 */
  -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
  transform: rotate(-17deg);
  text-shadow: -1px 0 #7e7878, 0 3px #7e7878, 3px 0 #7e7878, 0 -1px #7e7878;

}

.square {
   width: 200px;
   z-index: 0;
   height: 200px;
   background-image: url("../images/squarenoborder.png");
   background-size: 100%;
   /*100% size to fit its container*/

   display: inline-block;
}

.circle {
   width: 200px;
   height: 200px;
   z-index: 0;
   background-image: url("../images/circleshadow.png");
   background-size: 100%;
   /*100% size to fit its container*/

   display: inline-block;
}

.square > div {
    width: 200px;
   height: 200px;
/*   background-color: red;
*/}


.ex {
   width: 200px;
   height: 200px;
   z-index: 0;
   background-image: url("../images/xwhiteshadow.png");
   background-size: 100%;
   /*100% size to fit its container*/

   display: inline-block;
}

#gameboard {
   width: 600px;
}


.win1 {
    position: absolute;
    z-index: 1;
    margin-top: 7px;
    margin-left: -290px;
    color: red;
    max-width: 600px;
}

.win2 {
  position: absolute;
    z-index: 0;
    margin-top: 220px;
    margin-left: -290px;
    color: red;
    max-width: 600px;
}

.win3 {
  position: absolute;
    z-index: 0;
    margin-top: 420px;
     margin-left: -290px;

    color: red;
    max-width: 600px;
}

.win4 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -720px; 
    color: red;
    max-width: 600px;
}

.win5 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -520px; 
    color: red;
    max-width: 600px;
}

.win6 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -330px; 
    color: red;
    max-width: 600px;
}


.win7 {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
    position: absolute;
    z-index: 1;
    margin-top: -235px;
    margin-left: -535px; 
    color: red;
    max-width: 700px;
}

.win8 {
    -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
    transform: rotate(225deg);
    position: absolute;
    z-index: 1;
    margin-top: -235px;
    margin-left: -155px; 
    color: red;
    max-width: 700px;
}




