
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>AngularJS Data Binding!</title>
   <link rel="stylesheet" href="css/normalize.css">
   <link rel="stylesheet" href="css/styles.css">
   <script type="text/javascript" src="js/angular.js"></script>
   <script type="text/javascript" src="js/app.js"></script>
   <script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-app="dataBindingApp">

<div ng-controller="MainController as ctrl">
   <!--changed controller alias to 'ctrl' avoid confusion.-->
<section id="overall">

  <div id="playagain" ng-show="ctrl.showWinButton"><button ng-click="ctrl.clearTheBoardButton($index)">Play Again</button></div>


   <section class="main">
     <div id="winsleft">
        <div class="player">Player 1</div>
        <div id="player1board">
          <div class="xscore" ng-show="ctrl.wins[0].x"><img src="images/littlex.png"></div>
          <div class="xscore" ng-show="ctrl.wins[1].x"><img src="images/littlex.png"></div>
          <div class="xscore" ng-show="ctrl.wins[2].x"><img src="images/littlex.png"></div>
        </div>
     </div>
         <div id="gameboard">
             	  <div id="winnerletters" ng-show="ctrl.win">{{ctrl.winStatement}}</div>
               	<div id="centertable">
                    <div ng-show="ctrl.showWinLine">
                      <img ng-src="images/win1.png" ng-class="ctrl.winningLine">
                    </div>
           
                     <div class="square" ng-repeat="square in ctrl.squaresList">
                     		<div ng-class="{circle: square.circle, ex: square.x}" ng-click="ctrl.setPiece($index)"></div>
                     </div>
                </div>
         </div>
      <div id="winsright">

        <div class="player">Player 2</div>
        <div id="player2board">
            <div class="circlesscore" ng-show="ctrl.wins[0].circle"><img src="images/littlecircle.png"><div>
            <div class="circlesscore" ng-show="ctrl.wins[1].circle"><img src="images/littlecircle.png"><div>
            <div class="circlesscore" ng-show="ctrl.wins[2].circle"><img src="images/littlecircle.png"><div>
        </div>




           
      </div>


   </section>
</section>

</div>

</body>

</html>